---
title: TDM_CLICK_VERIFICATION Meldung (kommstrg. h)
description: Simuliert einen Klick auf das Kontrollkästchen Überprüfung eines Aufgaben Dialogfelds, sofern vorhanden.
ms.assetid: 1c6c135e-4e39-4f1a-88f4-5e9f7181a2dd
keywords:
- Windows-Steuerelemente für TDM_CLICK_VERIFICATION Meldung
topic_type:
- apiref
api_name:
- TDM_CLICK_VERIFICATION
api_location:
- Commctrl.h
api_type:
- HeaderDef
ms.topic: reference
ms.date: 05/31/2018
ms.openlocfilehash: df61676104169e3084e7cde09439c218f2237e60
ms.sourcegitcommit: a1494c819bc5200050696e66057f1020f5b142cb
ms.translationtype: MT
ms.contentlocale: de-DE
ms.lasthandoff: 12/12/2020
ms.locfileid: "104102851"
---
# <a name="tdm_click_verification-message"></a>TDM- \_ Click- \_ Überprüfungs Meldung

Simuliert einen Klick auf das Kontrollkästchen Überprüfung eines Aufgaben Dialogfelds, sofern vorhanden.

## <a name="parameters"></a>Parameter

<dl> <dt>

*wParam* \[ in\]
</dt> <dd>

**True** , wenn der Status des Kontrollkästchens als aktiviert festgelegt werden soll. **False** gibt an, dass das Kontrollkästchen deaktiviert werden soll.

</dd> <dt>

*LPARAM* \[ in\]
</dt> <dd>

**True** , um den Tastaturfokus auf das Kontrollkästchen festzulegen. Andernfalls **false** .

</dd> </dl>

## <a name="return-value"></a>Rückgabewert

Der Rückgabewert wird ignoriert.

## <a name="requirements"></a>Anforderungen



| Anforderung | Wert |
|-------------------------------------|---------------------------------------------------------------------------------------|
| Unterstützte Mindestversion (Client)<br/> | Nur Windows Vista \[ -Desktop-Apps\]<br/>                                        |
| Unterstützte Mindestversion (Server)<br/> | Nur Windows Server 2008 \[ -Desktop-Apps\]<br/>                                  |
| Header<br/>                   | <dl> <dt>Kommstrg. h</dt> </dl> |



 

 





